@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  --color-primary: 59 130 246;
  --color-success: 16 185 129;
  --color-info: 37 99 235;
}

body {
  @apply bg-void text-gray-200 overflow-hidden select-none;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-void;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700/80 border border-white/5 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

@layer components {
  .imperial-glass-hover {
    @apply hover:bg-zinc-900/80 hover:border-gold/40 hover:shadow-[0_0_20px_rgba(212, 175, 55, 0.2)] transition-all duration-300;
  }
}