@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  /* Default Linear Blue: 59 130 246 (#3b82f6) */
  --color-primary: 59 130 246;
}

body {
  @apply bg-void text-gray-200 overflow-hidden select-none;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-void;
}

::-webkit-scrollbar-thumb {
  @apply bg-card border border-gray-800 rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}